body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #f4f7f6;
}

.weatherStyle {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(100, 181, 246);
    background-color: #1976D2;
    grid-column: 1 / span 4;
    grid-row: 3;
    resize: none;
  }
  
  .forecastCardStyle {
    flex: 0 0 auto;
    margin: 5px;
    min-width: 150px;
    text-align: center;
  }

  .forecastCardStyle .info {
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    .weatherStyle {
      grid-row: 4;
      grid-column: 1;
      display: flex;
      overflow-x: scroll;
    }
  }